<!-- if error display message-->
<div ng-if="error" class="alert alert-danger">{{error}}</div>

<!-- if success display message-->
<div ng-if="msg" class="alert alert-success">{{msg}}</div>

<!-- if the user selects the login button, show the login page -->
<div class="form-group" ng-if="state == 'login'" style="width:250px;">
	<h3 class="heading"><strong>Login</strong></h3><br \>
	<input ng-model="loginUser.username" type="text" class="form-control" placeholder="Username"/>
	<input ng-model="loginUser.password" type="password" class="form-control" placeholder="Password"/>
	<a class="btn btn-primary" href ng-click="login()">Login</a>
</div>

<!-- if the user selects register, show the register button -->
<div class="form-group"  ng-if="state == 'registration'" style="width:250px;">
	<h3 class="heading"><strong>Register</strong></h3><br \>
	<input ng-model="regUser.username" type="text" class="form-control" placeholder="Username"/>
	<input ng-model="regUser.password" type="password" class="form-control" placeholder="Password"/>
	<input ng-model="regUser.email" type="text" class="form-control" placeholder="Email"/>
	<a class="btn btn-primary" href ng-click="register()">Register</a>
</div>

<!-- display users in db -->
<div class="form-group"  ng-if="state == 'loggedIn'">
	<div ng-init="getUsers()">
		<h3 class="heading"><strong>User List</strong></h3><br \>
		<div ng-repeat="user in userList">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<td style="color:black;">
						{{user.username}} 
					</td>
					<td style="color:black;">
						{{user.email}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>